/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --black-color: #333; /* Cambiamos el color negro a un tono más oscuro */
  --black-color-light: #444; /* Cambiamos el color negro claro a un tono más oscuro */
  --black-color-lighten: #555; /* Cambiamos el color negro claro aún más a un tono más oscuro */
  --white-color: #fff; /* No cambiamos el color blanco */
  --body-color: #222; /* Cambiamos el color de fondo del cuerpo a un tono más oscuro */

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.title {
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    font-style: italic;
    
}

